.container{
    border: 2px solid black;
    width: 700px;
    border-radius: 40px;
}

img{
    border-radius: 40px;
}

#buy, #Subscribe{
    padding: 5px;
    margin: 5px;
    background-color: rgb(64, 132, 78);
    border-radius: 5px;
    border: 1px solid black;
   
}

a{
    text-decoration: none;
    color: white;
}

h1{
    color: rgb(199, 10, 10);
}